<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <easteregg>
            <general>
                <enabled>1</enabled>
                <default_egg_width>38</default_egg_width>
                <default_egg_height>50</default_egg_height>
                <images>im_1.png,im_2.png,im_3.png,im_4.png,im_5.png,im_6.png,im_7.png,im_8.png</images>
                <not_logged_in_users_message>We are sorry, you should be logged in to use this functionality.</not_logged_in_users_message>
                <not_logged_in_users_title>Not Logged In</not_logged_in_users_title>
                <found_title>You have found an egg</found_title>
                <found_message>[eggs_found_count] of [eggs_all_count] eggs found.</found_message>
                <all_found_title>All eggs found</all_found_title>
                <all_found_message>You have found all the eggs! use coupon-code [coupon_code] in the shop for a 15% discount!</all_found_message>
                <url>https://www.google.com</url>
            </general>
        </easteregg>
    </default>
</config>
