<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="easteregg" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Easter Egg Hunt</label>
            <tab>customer</tab>
            <resource>Godogi_EasterEggHunt::easteregg_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_egg_width" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default egg width</label>
                    <comment>Width in px, example: 50</comment>
                </field>
                <field id="default_egg_height" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default egg height</label>
                    <comment>Height in px, example: 50</comment>
                </field>
                <field id="images" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Images</label>
                    <comment><![CDATA[Add list of images here following this special format example:<br/>im_1.png,im_2.png,im_3.png,im_4.png,im_5.png,im_6.png,im_7.png,im_8.png<br/>You need also to upload your images to app/code/Godogi/EasterEggHunt/view/frontend/web/images]]></comment>
                </field>
                <field id="discount_code" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Discount code</label>
                    <comment><![CDATA[You need to create a cart rule for it, if you don't know how check <a target="_blank" href="https://docs.magento.com/m2/ce/user_guide/marketing/price-rules-cart-coupon.html">this tutorial</a>.]]></comment>
                </field>
                <field id="found_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Title for found eggs</label>
                </field>
                <field id="found_message" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Message for found eggs</label>
                    <comment><![CDATA[Use [eggs_found] for the number of eggs found.]]></comment>
                </field>
                <field id="all_found_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Title for all found eggs</label>
                </field>
                <field id="all_found_message" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Message for all found eggs</label>
                    <comment><![CDATA[Use [coupon_code] for the coupon code.]]></comment>
                </field>
                <field id="not_logged_in_users_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Title for not logged in users</label>
                </field>
                <field id="not_logged_in_users_message" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Message for not logged in users</label>
                </field>
            </group>
        </section>
    </system>
</config>